.App {
  text-align: center;
  margin: auto;
  /* color: white; */
  background-color: rgb(224, 224, 224);
}

input {
  background-color: #E0E0E0;
  border-style: none;
  border-radius: 25px;
  text-align: center
}

.title {
  margin-bottom: 0px;
  color: #6290C3;
  font-family: 'impact';
  font-stretch: extra-expanded;
  
}

.main-container {
  background: #6290C3;
  border-color: white;
  margin: 10%;
  margin-top: 1%;
  align-items: stretch;
  height: 72vh;
  padding: 5%;
  border-radius: 25px;
}

.home-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: space-around;
}

.home {
  height: 100%;
}

.private-game-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 1%;
  justify-content: space-between;
}

.private-button {
  display: flex;
  flex-grow: 0.49;
  /* background: ; */
  justify-content: center;
  align-items: center;
  font-size: 3.5rem;
  /* color: white; */
  font-weight: 700;
  text-decoration: none
}

.private-button:hover {
  font-size: 4rem;
  width: 100%;
  color: #51E5FF;
  font-style: underline
  /* white-space: nowrap; */
}

#create:hover {
  transform: rotate(-2deg);
  
}

#join:hover {
  transform: rotate(2deg);
}
/* 
.public-button {
  display: flex;
  flex-grow: 1;
  background: grey;
  margin: 1%;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: white;
  font-weight: 700;
} */

.question-header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #51E5FF;
  padding-bottom: 1%;
  margin-bottom: 2%;
}

.question-text-box {
  border: 2px;
  border-style: none;
  border-color: #51E5FF;
  margin: 4%;
  height: 30vh;
  padding: 2%;
  background-color: #E0E0E0;
  border-radius: 25px;
}

.question-category {
  display: flex;
  justify-content: flex-start;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  margin-bottom: 3%;
  padding-bottom: 1%;
}

.question-text {
  display: flex;
  justify-content: center;
  margin: 2%;
  align-items: center;
  height: 70%
}

.answer-container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 40%;
  padding: 2%;
}

.answer-button-row {
  display: flex;
  justify-content: space-around
}

.answer-button {
  display: flex;
  flex-grow: .25;
  font-size: 1.2rem;
  justify-content: center;
  padding: 1%;
  margin: 1%;
  width: 35%;
  border-width: 4px;
}

.hidden-emoji{
  display: none;
}

.answer-emoji{
  display: default
}

.answer-button:hover {
  border-color: #51E5FF
}

#selected-answer {
  border-color: #51E5FF;
  background: #51E5FF;
  border-style: solid;
  /* border-width: 3px; */
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #E0E0E0 inset;
}

a:-webkit-any-link {
  color: black
}



#correct-answer {
  background-color: #06D6A0;
  border-color: #6290C3;
  border-style: solid;
  border-width: 4px;
}

#incorrect-answer {
  background-color: #EF476F;
  border-color: #6290C3;
  border-style: solid;
  border-width: 4px;
}

.score-card{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-end;
  border: 1px;
  border-style: none;
  border-radius: 25px;
  padding: 2% 7% 2% 7%;
  margin: 2% 15% 1% 15%;
  background: #E0E0E0
}

.score-value{
  padding-top: 3px;
}

.new-game-container{
  display: flex;
  flex-direction: row;
  /* padding: 5%; */
  /* padding-top: 8%; */
  height: 100%;
}

.new-game-left-container{
  width: 85%
}

.new-game-form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  font-size: 2rem;
  align-items: flex-start;
  /* padding-bottom: 10%; */
}

.new-game-label{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.new-game-input{
  flex-grow: .5;
  font-size: 1.2rem;
  width: auto;
  margin-left: 10px;
  background: #E0E0E0;
}

.new-game-input-disabled{
  /* flex-grow: .2; */
  color: black;
  font-size: 1.9rem;
  width: 130px;
  /* margin-left: 30px; */
  background: #6290C3;
  border-style: none;
  font-weight: 700;
}

.emoji-button-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 25%;
  /* padding-bottom: 10%; */
}
.emoji-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 45vw;
}

.emoji-button{
  flex-grow: .2;
  font-size: 2rem;
  padding-top: 1%;
  background-color: #6290C3;
  border-color: #6290C3;
  padding: 1%;
  /* border-radius: 1px; */
  /* border-style: none */
}
.emoji-button:hover {
  border-radius: 25px;
  padding: 1%;
}

#selected-emoji{
  border-color: #51e5ff;
  border-style: solid;
  border-width: 4px;
  border-radius: 25px;
  background-color: #51e5ff;
  padding: 1%;
}

button{
  background-color: #E0E0E0;
  border-color: #6290C3;
  border-style: solid;
  border-width: 4px;
  border-radius: 25px;
}
button:hover {
  border-color: #51E5FF;
  border-style: solid;
  border-width: 4px;
  border-radius: 25px;
}

button:focus {
  outline:0;
}

input:focus {
  outline:0;
  background-color: #E0E0E0
}

/* input: -internal-autofill-selected {
  background-color: #E0E0E0
} */

.users-list {
  color: black;
  width: 35vw;
  border-style: none;
  margin-left: 2%;
  background-color: #E0E0E0;
  border-radius: 25px;
}

.start-button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 10%;
}

.submit-button {
  margin-bottom: 10px;
}

.play-again-button {
  margin-right: 2%;
  font-size: 1.25rem;
  margin-top: 5%;
  width: 20vw;
}

.exit-button {
  margin-left: 2%;
  font-size: 1.25rem;
  margin-top: 5%;
  width: 20vw;
}
/* color for correct answer rgb(115, 206, 115)  */