.App {
  text-align: center;
  margin: auto;
}

.main-container {
  background: white;
  border-color: white;
  margin: 10%;
  margin-top: 5%;
  align-items: stretch;
  height: 72vh;
  padding: 5%;
}

.home-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: space-around;
}

.home {
  height: 100%;
}

.private-game-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 1%;
  justify-content: space-between;
}

.private-button {
  display: flex;
  flex-grow: 0.49;
  background: grey;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: white;
  font-weight: 700;
  text-decoration: none
}

.public-button {
  display: flex;
  flex-grow: 1;
  background: grey;
  margin: 1%;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: white;
  font-weight: 700;
}

.question-header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding-bottom: 1%;
  margin-bottom: 2%;
}

.question-text-box {
  border: 1px;
  border-style: solid;
  margin: 4%;
  height: 30vh;
  padding: 2%;
}

.question-category {
  display: flex;
  justify-content: flex-start;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  margin-bottom: 3%;
  padding-bottom: 1%;
}

.question-text {
  display: flex;
  justify-content: center;
  margin: 2%;
  align-items: center;
  height: 70%
}

.answer-container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 40%;
  padding: 2%;
}

.answer-button-row {
  display: flex;
  justify-content: space-around
}

.answer-button {
  display: flex;
  flex-grow: .25;
  font-size: 1.2rem;
  justify-content: center;
  padding: 1%;
  margin: 1%;
  width: 35%
}

.hidden-emoji{
  display: none;
}

.answer-emoji{
  display: default
}

.answer-button:hover {
  background-color: rgb(174, 234, 255)
}

#selected-answer {
  background-color: rgb(162, 218, 238)
}

#correct-answer {
  background-color: rgb(115, 206, 115)
}

#incorrect-answer {
  background-color: #F08080
}

.score-card{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px;
  border-style: solid;
  padding: 2% 7% 2% 7%;
  margin: 2% 15% 1% 15%;
  background: rgb(199, 199, 199)
}

.new-game-container{
  display: flex;
  flex-direction: row;
  /* padding: 5%; */
  /* padding-top: 8%; */
  height: 100%;
}

.new-game-left-container{
  width: 85%
}

.new-game-form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  font-size: 2rem;
  align-items: flex-start;
  /* padding-bottom: 10%; */
}

.new-game-label{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.new-game-input{
  flex-grow: .5;
  font-size: 1.2rem;
  width: auto;
  margin-left: 10px;
}

.new-game-input-disabled{
  /* flex-grow: .2; */
  font-size: 1.9rem;
  width: 100px;
  margin-left: 30px;
  /* background: lightgray; */
  border-style: none;
  font-weight: 700;
}

.emoji-button-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 35%;
  /* padding-bottom: 10%; */
}
.emoji-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 45vw;
}

.emoji-button{
  flex-grow: .2;
  font-size: 2rem;
  padding-top: 1%;
  
}
.emoji-button:hover {
  background-color: rgb(174, 234, 255)
}

#selected-emoji{
  background-color: rgb(162, 218, 238)
}

button:hover {
  background-color: rgb(174, 234, 255)
}

button:focus {outline:0;}

.users-list {
  width: 35vw;
  border: 1px;
  border-style: solid;
  margin-left: 2%
}

/* color for correct answer rgb(115, 206, 115)  */